@media only screen and (max-width: 576px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 150px;
    }









}