:root{
    --primari-color:#4F5665;
    --btn--color1:#F53855;
    --primari--text-color:#0B132A;
    --white--color:#ffffff;
    --color--mensaje:#DDDDDD;
    
    

}
body{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    display: grid;
    grid-template-columns: 10% 30% 30%;   
    height: 100px;
    padding: 0px 70px 0px 70px;
    column-gap: 200px;
   
   
}
nav > div:nth-child(1){
    display: flex;
    align-items: center;
    padding:20px 0px 10px 1px;

}


nav > div:nth-child(2){
    display: flex;
    align-items: center;
    column-gap: 15px;
}

nav > div:nth-child(3){
    display: flex;
    align-items: center;
    
}

nav h2{
    margin: 0;
}

nav a{
    text-decoration: none;
    color: var(--primari-color);
    font-weight: 100;
    margin-right: 15px;
    
}
button.btn-primary{
    background-color: var(--primary-color);
    color:var(--btn--color1);
    width: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    border: 1px solid var(--btn--color1);
    border-radius: 25px;
    height: 45px;
    font-family: "Rubik", sans-serif;
}

button.btn-transparent{
    background-color: transparent;
    color:var(--primary-color);
    border: none;
    width: 100px !important;
    font-family: "Rubik", sans-serif;
}
header{
    position: relative;
}

body{
    height: 2000px;
}
.banner{
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.banner > div:first-child{
    padding: 80px 70px;
    display: flex;
    justify-content: center;

}
.banner > div:first-child > h1{
    color: var(--primari--text-color);
}
button.btn-primary2{
    background-color: var(--btn--color1);
    color:var(--white--color);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content:center;
    border: 1px solid var(--btn--color1);
    border-radius: 10px;
    height: 45px;
    font-family: "Rubik", sans-serif ;
    margin: 60px 0px;
    box-shadow: #F53855 3px 10px 19px -4px;
}
.detail-service{
    display: flex;
    justify-content:space-between ;
    height:200px ;
    margin: 50px;
}
.detail-service>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 20px 45px 120px;
    column-gap: 50px;
} 
.detail-service > hr{
    margin: 25px;
}
.detail-service>div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

}
.detail-service>div:nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 120px 45px 20px;
    column-gap: 50px;
}
.features{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 70px;

}
.features>div:nth-child(2)>ul{
    list-style:url(img/puntero.svg);

}
.features>div:nth-child(2)>ul>li>p{
    color: #4F5665;

}
.features>div:nth-child(2)>p{
    color: #4F5665;

}

.features>div:nth-child(2){
   margin: 50px 20px 10px 11px;
}
.features>div:nth-child(2)>h3{
    font-size: 30px;
    color: #0B132A;
}

.mensaje>div:nth-child(1)>h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px ;
}
.mensaje>div:nth-child(1)>p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4F5665;
    
}
.box {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    
}
.box>div:nth-child(1){
    border: 1px solid var(--color--mensaje);
    height: 600px;
    width: 250px;
    border-radius: 10px;
}
.box>div:nth-child(1)>div:nth-child(2)>h6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 15px;
}
.box>div:nth-child(1)>div:nth-child(2)>ul>li{
    list-style: url(img/like.svg);
    font-size: 12px;
    padding-left:20%;
  
}

.box>div:nth-child(1)>div:nth-child(2)>h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 70px 0px 0px 0px ;
    margin: 0;

}
.box>div:nth-child(1)>div:nth-child(2)>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box>div:nth-child(1)>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}




.box>div:nth-child(2){
    border: 1px solid var(--color--mensaje);
    height: 600px;
    width: 250px;
    border-radius: 10px;
}
.box>div:nth-child(2)>div:nth-child(2)>h6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 15px;
}
.box>div:nth-child(2)>div:nth-child(2)>ul>li{
    list-style: url(img/like.svg);
    font-size: 12px;
    padding-left:10px;
    
  
}

.box>div:nth-child(2)>div:nth-child(2)>h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 40px 0px 0px 0px ;
    margin: 0;

}
.box>div:nth-child(2)>div:nth-child(2)>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box>div:nth-child(2)>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}



.box>div:nth-child(3){
    border: 1px solid var(--color--mensaje);
    height: 600px;
    width: 250px;
    border-radius: 10px;
}
.box>div:nth-child(3)>div:nth-child(2)>h6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 15px;
}
.box>div:nth-child(3)>div:nth-child(2)>ul>li{
    list-style: url(img/like.svg);
    font-size: 12px;
    padding-left:10px;
    
  
}

.box>div:nth-child(3)>div:nth-child(2)>h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 20px 0px 0px 0px ;
    margin: 0;

}
.box>div:nth-child(3)>div:nth-child(2)>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box>div:nth-child(3)>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    padding: 100px 140px;
    padding-bottom: 40px;
}

footer > div:first-child{
    display: grid;
    grid-template-columns: 45% 15% 15% 15% ; 
    justify-content: space-between;
}

footer > div:nth-child(1)>div:nth-child(1)>p{
    color: var(--primari-color);
}
footer > div:nth-child(1)>div:nth-child(1)>div:nth-child(4)>p{
    color:#AFB5C0;

}

footer > div:nth-child(1)>div:nth-child(1)>p{
     padding-right: 120px;

}
footer > div:nth-child(1)>div:nth-child(2)>p{
    padding: 10px 100px;

}


footer  > div:first-child  ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer > div:first-child ul li a{
    display: block;
    text-decoration: none;
    color: var(--primari-color);
    margin: 20px 0px;
    font-weight: 100;
    font-size: 0.7em;
}


    