:root{
  --primari-color:#737373;
  --primary-text-color:#252B42;
  --second-color-button:#FF7B47;
  --wite-color:#FFFFFF;
  --border-color:#0D5C63;
  --text-color-btn:#0D5C63;
}
#rect-1{
    background: url(/img/fond-1.svg);
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    height: 10px;
    padding: 0px 70px 0px 70px;
    
}
nav > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
} 

nav > div:nth-child(2){
    display: flex;
    align-items: center;
    padding: 50px 110px;
}

nav > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: end;
  
}

nav h2{
    margin: 0;
    color: var(--primary-text-color);
}

nav a{
    text-decoration: none;
    color:var(--primari-color);
    font-weight: 600;
    margin-right: 15px;
}
.banner{
    height: 900px;
    display: flex;
    flex-direction: column;
    margin: 0px 200px;
    justify-content: center;
    
}
.banner div{
    padding: 50px 0px;
}
.banner h1{
    color: var(--primary-text-color);
    font-size: 4rem;
    font-weight: 1050;
    padding: 0px 1000px 0px 1px;
}

.banner p{
    color: var(--primari-color);
    font-size: 1.5em;
    padding: 0px 1050px 0px 1px;
}
.banner div{
    width: 80%;
    display: flex;
}
.banner >  div > button{
    margin-right: 10px;
    border-radius: 50px;
    font-weight: 600;
    padding: 15px 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}
button.primari-button{
    background-color: var(--second-color-button);
    color:var(--wite-color);
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
}
button.transparent-button{
    background-color: transparent;
    color:var(--text-color-btn);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
}
.transparent-button{
    border: 1.5px solid var(--border-color);

}
body{
    height: 3300px;
}

header{
    position: relative;
}
#list-services{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 10px;
    justify-content: center;
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: -120px;
}

.item-service{
    background-color: var(--wite-color);
    margin: 0 15px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: start;
}

.item-service > h3{
    font-size: 1.5em;
    color: var(--primary-text-color);
    
}

.item-service > span{
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: start;
}


.item-service > p{
    color: var(--primari-color);
}

.item-service-3{
    background-color: var(--text-color-btn);
    margin: 0 15px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: start;
}
.item-service-3 >  h3 {
    font-size: 1.5em;
    color: var(--wite-color);
}

.item-service-3 > span{
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: start;
}


.item-service-3 > p{
    color: var(--wite-color);
}
.detail-service{
    margin: 200px 20px 0 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.detail-service  h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.detail-service p{
    color: var(--primari-color);
    padding: 0px 25px;
    display: flex;
    justify-content: center;
}
#sectores{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 20px;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: -650px;
}
.consumer > h3{
    color: var(--primary-text-color);
}
.consumer > p{
    color: var(--primari-color);
}
.icons-sale{
    margin: 400px 20px 0 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-sale h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.icons-sale h6{
    padding: 0px 190px 1px 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.icons-sale p{
    color: var(--primari-color);
    padding: 0px 190px 12px 30px;
   
}
#information{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 20 px;
    justify-content:center ;
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: -1350px;
}
.phone{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 0px;
    justify-content:center;
    align-items: center;
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: -1900px;

}
.phone  h3{
    color: var(--primary-text-color);
   padding: 0px 1px 0px 100px;
    
}
.phone p{
    color: var(--primari-color);
    padding: 0px 1px 0px 100px;  
}

.primari-button{
    background-color: var(--second-color-button);
    color:var(--wite-color);
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    margin-right: 2px;
    border-radius: 5px;
    font-weight: 600;
    padding: 15px 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    padding: 0px 150px;
    padding-bottom: 40px;
    position: absolute;
    bottom: -2300px;
    padding: 0px 0px 0px 0px;
    margin-top: 0;
    width: 100%;
    
}

footer > div:first-child{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 35%; 
    column-gap: 20px;
    justify-content: space-between;
    background-color: #17213C;

}

footer > div:last-child{
    padding: 40px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-text-color);
    font-weight: 800;
    font-size: 0.8em;
    background-color: #FFFFFF;
    
}
footer > div:last-child > div:last-child{
    width: 35%;
    text-align: center;
}

footer > div:last-child a{
    color: var(--primary-color);   
    margin: 0px 20px;
}
footer > div:last-child >h5{
    color: var(--wite-color)
}

footer > div:last-child a > svg#twitter{
    fill: var(--primary-color);
}

footer > div:last-child a:first-child{
    display: inline-block;
}


footer > div:last-child a > svg#facebook{
    fill: var(--light-bg-color);
    stroke: var(--light-bg-color);
    stroke-width: 0.2;    
}


footer  > div:first-child  ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer > div:first-child ul li a{
    display: block;
    text-decoration: none;
    color: var(--wite-color);
    margin: 20px 0px;
    font-weight: 600;
    font-size: 0.7em;
}


footer > div:first-child > div:last-child > div{
    text-align: center;
}

footer > div:first-child > div:last-child > div > p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    color:var(--wite-color);
}

footer > div:first-child > div:last-child > div > p > svg{
    stroke: #21A6DF;
}

footer > div:first-child > div:last-child > div > p >svg, footer > div:first-child > div:last-child > div > p >i{
    margin-right: 5px;
}
.icon-email{
    display: block;
    background: url(../image/icon-email.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
}

.icon-facebook{
    display: block;
    background: url(../image/icon-face.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
}



